{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $content := printf "Published: %s" (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
{{- $scratch.Add "meta" (slice ($content)) }}
{{- end }}

<!-- If we have a last-modified date and it's not equal to the publish date -->
{{- if and (not .Lastmod.IsZero) (or (ne (.Date.Year) (.Lastmod.Year)) (ne (.Date.YearDay) (.Lastmod.YearDay))) -}}
{{- $content := printf "Updated: %s" (.Lastmod.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
{{- $scratch.Add "meta" (slice ($content)) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

<!--
{{- if (.Param "donkey") -}}
{{- $scratch.Add "meta" (slice .Params.donkey) }}
{{- end }} -->

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" -}}
{{- end -}}
